<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=1080, height=1920, initial-scale=1.0">
<title>AFIEther</title>
<style>
  
  .container {
    width: 1080px;
    height: 1920px;
    background-image: url('img/cover-veogen.png');
    background-size: initial;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
  }

  .gradient-text {
    font-size: 38px;
    font-weight: bold;
    background: linear-gradient(90deg, #9d4992, #ec724a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .content-text{ 
    position: absolute; top: 140px;  font-size: 65px; color: #0e0d0d;  z-index: 10; width: 96%; padding: 70px;
    font-family: Montserrat, sans-serif;
  }
  .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
  }
  
</style>
{{> google-fonts}}
{{> jquery}}
</head>
<body class="container">

{{{body}}}

</body>
</html>
