<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=1920, height=1080, initial-scale=1.0">
<title>AFIEther</title>
<style>
  
  .container {
      width: 1920px;
      height: 1080px;
      background-image: url('img/cover-veogen-outro.png');
      background-size: initial;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      height: 100vh;
      overflow: hidden;
    }
</style>
</head>
<body class="container">

{{{body}}}

</body>
</html>
